.proback{
	background: #fff;
	min-width: 50%;
	padding: 20px;
	border: 5px solid #999;
	border-radius: 10px;
	line-height: 1.8rem;
}
.probar{
	margin-top: 100px;
	margin-left: 10%;
	flex-basis: 20%;
}
.pic-pro{
	margin-top: 100px;
	margin-left: 500px;
	width: 300px;
	height: 300px;
}
.prowrapper {
	display: flex;
	position: relative;
	flex-wrap: nowrap;
}
@media screen and (min-width: 400px) and (max-width: 1280px) {
	/*iphone*/
	.proback{
		background: #fff;
		min-width: 40%;
		padding: 20px;
		border: 5px solid #999;
		border-radius: 10px;
		line-height: 1.8rem;
	}
	.probar{
		margin-top: 100px;
		margin-left: 20%;
		flex-basis: 40%;
	}
	.pic-pro{
		margin-top: 100px;
		margin-left: 10%;
		width: 200px;
		height: 200px;
	}
}
@media only screen and (min-width: 767px) and (max-width: 1280px) {
	/*（ここにタブレット用スタイルを記述）*/
	
}
