.textback {
	background: #fff;
	min-width: 70%;
	padding: 20px;
	border: 5px solid #999;
	border-radius: 10px;
	line-height:1.8rem;
}
.mainbar{
	flex-basis: 60%;
	margin-left: 140px;
	min-width: 65%;
}
.topmainbar{
	flex-basis: 60%;
	margin-left: 0px;
	min-width: 65%;
}
.sidebar{
	flex-basis: 30%;
	margin-left: 10px;
	min-width: 10%;
}
.topbar{
	margin-right: 30%;
	margin-left: 10%;
	margin-bottom: 1%;
	flex-basis: 20%;
}
.container {
	max-width: 900px;
	/*max-width: 480px;*/
	margin: 0 auto;
}
.catchcopy {
	color: #fff;
	position: absolute;
	top: 700px;
	right: 300px;
	font-size: 30px;
	font-weight: 200;
	line-height: 33px;
	letter-spacing: 3px;
	z-index: 2;
	display: inline;
}
.listback {
	background: #fff;
	width: 15%;
	padding: 20px;
	border: 4px solid #999;
	border-radius: 10px;
	line-height:1.8rem;
	position: fixed;
	font-size: 13px;
}
.listside{
	font-size: 5px;
	list-style: none;
	margin-left: 15px;
}
.global-nav {
	font-size: 18px;
	width: 940px;
	background-color: #eff;
	position: fixed;
	z-index: 2;
	/*width: auto;*/
}
ul.nav-list{
	display: table;
	margin: 0 auto;
	padding: 0;
	width: 80%;	
	text-align: center;
	position: relative;
}
.nav-list li{
	display: table-cell;
	min-width: 50px;
}
.nav-list a{
	display: block;
	width: 100%;
	padding: 10px 0;
	text-decoration: none;
	color: #555;
	font-weight: bold;
}
ul li:hover{
	background-color: #FFF2CC;
}
.wrapper {
	display: flex;
	/*max-width: 940px;*/
	justify-content: space-around;
	position: relative;
	flex-wrap: nowrap;
}
.disgetbot{
	position: relative;
	margin-left: 10%;
	margin-top: 10px;
	height: 550px; 
	width: 300px;
}
.flex-video {
	width: 900px;
    height: 540px;
	margin-top: 10px;
	margin-left: 10%;
    overflow: hidden;
    position: relative
}
.topwrapper {
	display: block;
	position: relative;
	flex-wrap: nowrap;
}
.top-image {
	text-align: center;
	background-image: url("../pic/sigre.png");
	width: 1000px;
    height: 1000px;
	margin: 20px;
	position: relative;
	border-radius: 10px;
	animation: fadeIn 1s;
}
.pic-pc{
	position: relative;
	left: 190px;
	width: 500px;
	height: 500px;
}
.cpdl{
	width: 800px;
	height: 500px;
}
#ba{
	background-color: rgb(60, 175, 37);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	overflow-x: visible;
	overflow-y: visible;
}
#canvasOverlay {
	/*top: 0;
	left: 0;*/
	width: 100%;
	/*min-width:100vw;
	min-height:100vh;*/
	overflow-x: visible;
	overflow-y: visible;
	position: fixed;
	/*position: fixed;*/
	mix-blend-mode: hard-light;
}
#bg {
	/*position: fixed;*/
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*min-width:100vw;
	height:100vh;
	min-height:100vh;*/
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 100vh;
	padding-top: 0%;
	background: linear-gradient(to bottom,
	hsl(145, 60%, 40%),
	hsl(152, 50%, 60%),
	hsl(175, 40%, 40%));
	animation: AnimationName 10s ease infinite;
}
.sumaho{
	width: 170px;
	height: 320px;
}
.dislive{
	width: 750px;
	height: 140px;
}
.embedup {
	top: 70px;
	width: 600px;
	height: 200px;
}
@keyframes AnimationName {
	0% {
		/*background-position: bottom right;*/
	}
	50% {
		/*background-position: bottom right;*/
	}
	100% {
		/*background-position: bottom right;*/
	}
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
@media screen and (min-width: 768px) {
	/*PC*/
	
}
@media screen and (min-width: 400px) and (max-width: 1280px)  {
	/*iphone*/
	.pic-pc{
		position: relative;
		left: 60px;
		width: 180px;
		height: 180px;
	}
	.sumaho{
		width: 80px;
		height: 140px;
	}
	.mainbar{
		flex-basis: 60%;
		margin-left: 10%;
		min-width: 65%;
	}
	.sidebar{
		flex-basis: 30%;
		margin-left: 10px;
		min-width: 10%;
	}
	.topbar{
		margin-right: 25%;
		margin-left: 10%;
		margin-bottom: 1%;
		flex-basis: 20%;
	}
	.dislive{
		width: 560px;
		height: 120px;
	}
	.cpdl{
		width: 600px;
		height: 320px;
	}
	.disgetbot{
		position: relative;
		margin-left: 40%;
		width: 300px;
		height: 500px;
	}
	.flex-video {
		width: 600px;
		height: 400px;
		margin-left: 25%;
		margin-bottom: 1rem;
		overflow: hidden;
		padding-bottom: 5%;
		padding-top: 1.5625rem;
		position: relative
	}
	.catchcopy {
		color: #fff;
		position: absolute;
		top: 550px;
		right: 150px;
		font-size: 30px;
		font-weight: 200;
		line-height: 33px;
		letter-spacing: 3px;
		z-index: 2;
		display: inline;
	}
	.embedup {
		top: 50px;
		width: 400px;
		height: 200px;
	}
}
@media only screen and (min-width: 767px) and (max-width: 1280px) {
	/*（ここにタブレット用スタイルを記述）*/
	.pic-pc{
		position: relative;
		left: 90px;
		width: 300px;
		height: 300px;
	}
	.sumaho{
		width: 120px;
		height: 220px;
	}
}
